/* global variables

    //basics
    $white: #e5e5db;
    $black: #363b48;

    //text Colors
    $textWhite: #e5e5db;
    $textBlack: #363b48;

    //light and dark
    $light: #fff;
    $dark: #000;


    $brandPrimary: #ff264a;
    $brandSecondary: purple;
    $brandSpecial: green;

    //border
    $borderSize: 2px;
    $borderStyle: solid;
    $borderColor: #b2b2b2;
    $border: $borderSize $borderStyle $borderColor;

    $themeHeader: #ff264a;
    //$themeBody: purple;//darken(#ff264a), 10;
    $themeFooter: lighten(#ff264a), 10;
    $themeModal: #ff264a;

    // breakpoints Bootstrap4 shortcut 

    $minXl: "min-width: 1139px";
    $maxXl: "max-width: 1141px";

    $minLg: "min-width: 959px";
    $maxLg: "max-width: 961px";

    $minMd: "min-width: 719px";
    $maxMd: "max-width: 721px";

    $minSm: "min-width: 539px";
    $maxSm: "max-width: 541px";

    //btn
    $btnPrimary: #2B2C5A;
    $btnSecondary: yellow;
    $btnSpecial: cyan;


// variabili stile branded

$brLarge: 3.5rem;
$brMiddle: 1.5rem;
$brSmall: .7rem;
*/