.cardAuth{
    max-width: 30rem;
    min-width: 30rem;
    margin: 1.5rem 1.5rem;
    
    form{
        background-color: rgba(256,256,256,.1);
        backdrop-filter: blur(40px);
        border: var(--border);
        
    }
    
    .card-header{
        background: transparent;
        width: 90%;
        display:flex;
        justify-content: center;
    }
    .card-body{
        background: transparent;
        width: 90%;
        display:flex;
        justify-content: center;
        flex-direction: column;
        input{
            border-radius: var(--radiusXl)
        }
    }
    .card-footer{
        background-color: transparent;
        width: 100%;
        border-top: 0px solid transparent;
        display:flex;
        justify-content: center;
        .btnAuth{
            background-color: var(--txtLight);
            color: textColor(white,  var(--txtDark), var(--txtLight));
            border-radius: 3.5rem;
            transition: all .55s ease-in-out;
            &:hover{
                transform: scale(1.25);
                font-size: 1.2rem;
                transition: all .30s ease-in-out;
            }
        }
    }
    .card-error{
        position:relative;
        background-color: red;
        color: white;
        border-radius: 3.5rem;
        padding: .5rem 1rem;
        animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 1s; /* don't forget to set a duration! */
        transition: all .2 ease-in-out;
        z-index:2;
    }
    .card-success{
        position:relative;
        background-color: green;
        color: white;
        border-radius: 3.5rem;
        padding: .5rem 1rem;
        animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 1s; /* don't forget to set a duration! */
        transition: all .2 ease-in-out;
        z-index:2;
    }    
}