.tableDashboard{
    border: var(--border);
    width: 100%;
    .tableHead{
        border: var(--border);
        .col{ 
            padding:  1.5rem 1.5rem 1.5rem 0;
            background-color: var(--borderColor);
            color: var(--txtDark);
        }
        .colNumber{
            padding:  1.5rem 1.5rem 1.5rem 1.5rem;
        }
    }
    .td{
        padding:  .75rem .75rem .75rem 0;
        border-bottom: var(--border);

    }
    .tdNumber{
        padding:  .75rem .75rem .75rem 1.5rem;
    }
    a.btn-success, a.btn-danger{
        padding: .5rem;
        color: var(--light)!important;  
    }
}