.listBook{
    padding: 0px;
    li{
        display:flex;
        flex-direction: column;
        list-style-type: none;
        background: textColor(#ff264a, #363b48, #e5e5db);
        padding: .7rem 1.2rem;
        border-radius: .7rem;
        margin-bottom: 1.2rem;
        display: flex;
        margin: 1rem .5rem;
        -webkit-box-shadow: 0px 0px 1.2rem .1rem rgba(0,0,0,0.22); 
        box-shadow: 0px 0px 1.2rem .1rem rgba(0,0,0,0.22);
        transition: all .3s ease-in-out;
        .forContent{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            .details {
                margin-right: auto;
                h3 {
                    margin: 0;
                    margin-bottom: .4rem;
                    &:hover {
                        cursor: pointer;
                        text-decoration: line-through;
                    }
                }
                p {
                    margin: 0;
                }
            } 
            .toggling{
                display:flex;
                justify-content: center;
                flex-direction: column;
                .fas.fa-heart{
                    animation: heartBeat;
                    animation-duration: 1s; 
                }
                .far.fa-eye{
                    animation: heartBeat; 
                    animation-duration: 1s; 
                }
            }
        }
            .notes{
                padding-top:1.5rem;
                background-color: lighten(#ff264a,50);
                border-radius: .7rem;
                span{
                    color: textColor(#ff264a,  #363b48, #e5e5db);
                    font-size: 1.1rem;
                }
            }        
        .icon {
            color:  darken(textColor(purple, #000, #fff),25);
            cursor: pointer;
        }
        &:hover{
            transition: all .2s ease-in-out;
            transform: scale(1.05);
            -webkit-box-shadow: 0px 0px 1.2rem .1rem rgba(0,0,0,0.05); 
            box-shadow: 0px 0px 1.2rem .1rem rgba(0,0,0,0.05);
            cursor: pointer;
        }
    }

}