
  
/* 12. navigation */

  

  

  


  

  

  




  

  
  .navigation-center {
    -webkit-transform: translate(50%,-50%);
    -moz-transform: translate(50%,-50%);
     -ms-transform: translate(50%,-50%);
      -o-transform: translate(50%,-50%);
         transform: translate(50%,-50%);
    right: 50%;
    top: 66%;
    }
    
    @media only screen and (max-width: 640px) {
      .navigation-center {
        right: 50%;
        top: 66%;
      }
    }
    
    .navigation-center.center-position,
    .navigation-center.navigation-center-position-primary {
      -webkit-transform: translate(50%,-50%);
      -moz-transform: translate(50%,-50%);
       -ms-transform: translate(50%,-50%);
        -o-transform: translate(50%,-50%);
           transform: translate(50%,-50%);
    }
    
  /* 13. element on/off */
  .element-on,
  .introduction-element-on,
  .borders-introduction-element-on {
  visibility: visible;
          opacity: 1;
     -moz-opacity: 1;
  -webkit-opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  }
  
  .element-on,
  .borders-introduction-element-on {
  -webkit-transition: all .7s;
     -moz-transition: all .7s;
      -ms-transition: all .7s;
       -o-transition: all .7s;
          transition: all .7s;
  }
  
  .introduction-element-on  {
  -webkit-transition: all .7s;
     -moz-transition: all .7s;
      -ms-transition: all .7s;
       -o-transition: all .7s;
          transition: all .7s;
  }
  
  .element-off,
  .introduction-element-off,
  .borders-introduction-element-off {
  visibility: hidden;
          opacity: 0;
     -moz-opacity: 0;
  -webkit-opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform: scale(0.85);
     -moz-transform: scale(0.85);
      -ms-transform: scale(0.85);
       -o-transform: scale(0.85);
          transform: scale(0.85);
  }
  
  .borders-introduction-element-off {
  -webkit-transform: scale(0.95);
     -moz-transform: scale(0.95);
      -ms-transform: scale(0.95);
       -o-transform: scale(0.95);
          transform: scale(0.95);
  }
  
  .element-off {
  -webkit-transition: all .7s;
     -moz-transition: all .7s;
      -ms-transition: all .7s;
       -o-transition: all .7s;
          transition: all .7s;
  }
  
  .introduction-element-off,
  .borders-introduction-element-off {
  -webkit-transition: all .7s;
     -moz-transition: all .7s;
      -ms-transition: all .7s;
       -o-transition: all .7s;
          transition: all .7s;
  }
  

  