    #about, #services, #selections, #dashboard{
      padding-top: calc(var(--dashboardBtnSize));
      .row{
        padding:4vw 4vh ;
        margin-top: -3vh;
      }
      

    }
    #selections{
      display: flex;
      justify-content: center;
      align-content: start;
      align-items: start;
      .row{
          padding: 0% 10%;
      }
    }

    @media  only screen and (max-width: 960px) {
      #about, #services, #selections, #dashboard{
      padding-top: calc(var(--dashboardBtnSize) * 3 );
      display: flex;
      justify-content: center;
      align-content: start;
      align-items: start;
      }
      #dashboard .row{
        padding:0!important ;
      }
    } 