
/* 4. borders */
.borders-introduction {
    position: fixed;
    width: 100%;
    height: 100%;	
    top: 0;
    left: 0;  
    z-index: 2;
    -webkit-pointer-events: none;
       -moz-pointer-events: none;
            pointer-events: none;
    }
    
    .borders-introduction-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;	
    top: 0;
    left: 0; 
    z-index: 3;
    }
    
    .borders-introduction-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 4;
    }
    
    .border-wrapper {
    position: relative;
    height: 100%;
    padding: 8vh 6.5vw 8vh 6.5vw;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }
    
    @media only screen and (max-width: 640px) {
      .border-wrapper {
        padding: 4vh 3.75vw 4vh 3.75vw;
      }
    }
    
    .border-inner {
    position: relative;
    height: 100%;
    }
    
    .border-bg {
    position: absolute;
    background: #5f5f5f;
    }
    
    @media only screen and (max-width: 640px) {
      .border-bg {
        display: none;
        visibility: hidden;
      }
    }
    
    .border-top-1,
    .border-top-2 {
    top: 0;
    }
    
    .border-bottom-1,
    .border-bottom-2 {
    bottom: 0;
    }
    
    .border-top-1,
    .border-bottom-1 {
    left: 0;
    }
    
    .border-top-2,
    .border-bottom-2 {
    right: 0;
    }
    
    .border-top-1,
    .border-top-2,
    .border-bottom-1,
    .border-bottom-2 {
    width: 50%;
    height: 2px;
    }
    
    .border-left {
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    }
    
    .border-right {
    width: 2px;
    height: 100%;
    top: 0;
    right: 0;
    }
    
    .center-space-top,
    .center-space-bottom {
    position: absolute;
    width: 100%;
    margin: auto;
    display: inline-block;
    text-align: center;
    left: 0;
    }
    
    .center-space-top {
    top: -16px;
    }
    
    @media only screen and (max-width: 640px) {
      .center-space-top {
        top: -30px;
      }
    }
    
    .center-space-bottom {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #b2b2b2;
    letter-spacing: 0.25em;
    bottom: -8px;
    left: 2px;
    }
    
    @media only screen and (max-width: 880px) {
      .center-space-bottom {
        font-size: 14px;
      }
    }
    
    @media only screen and (max-width: 640px) {
      .center-space-bottom {
        font-size: 12px;
        bottom: 24px;
      }
    }
    
    .center-space-bottom span {
    position: relative;
    display: inline-block;
    }
    